@page
@model Shop.UI.Pages.About_usModel
@{
}

<div>
    <div class="card-image" align="center">
        <figure class="is-2by3">
            <img src="~/images/ForAboutUs.jpg" />
        </figure>
    </div>

    <h4 class="title is-4">
        We use a blend of modern and traditional guitar-building techniques. CNC machines cut body and neck blanks. 
        Most of the remaining work,from gluing binding and installing frets to spraying finishes, is completed by hand. 
        Every step is performed by skilled crafts-people who care about building quality musical instrument parts,
        and who work hard to ensure that each neck and body we ship meets our standard of excellence.
    </h4>

    <h4 class="title is-4">
         Warmoth also works hard to develop and maintain relationships with wood suppliers. We take pride in responsibly sourcing 
         an unrivaled variety of beautiful and exotic tonewoods. These woods, in conjunction with our exacting and time-proven construction methods,
         result in bodies and necks that are tuneful, beautiful, and stable.

    </h4>

</div>
